---
layout: page
title: Agenda
permalink: /agenda
navbar: 2
html: true
redirect_from: /en/agenda/
---
{% assign ical_link = "https://calendar.google.com/calendar/ical/" | append: site.api.calendar.id | append: "/public/basic.ics" %}
<section id="calendar-news" class="page-section">
	<div class="container overflow-hidden">
		<div class="row g-5">
			<div class="col-lg-6 col-md-12">
				<p>
					De evenementen van Space Leiden worden bijgehouden in een publieke agenda.
					Deze agenda kan je toevoegen aan je eigen client met de iCal link hieronder.
				</p>
			</div>
			<div class="col-lg-6 col-md-12" style="text-align: right;">
				<p>
					<a href="{{ ical_link }}" class="btn btn-md bg-space-blue">iCal downloaden</a>
				</p>
			</div>
		</div>
		<div class="row g-5">
			<div class="col-md-12"><p>&nbsp;<br></p></div>
		</div>
		<div class="row g-5">
			<div class="col-lg-12 col-md-12">
				<div id="calendar"></div>
			</div>
		</div>
		<div class="row g-5">
			<div class="col-md-12"><p>&nbsp;<br></p></div>
		</div>
	</div>
</section>
