---
layout: page
title: Blog
navbar: 3
html: true
redirect_from: /en/blog/
---
{% assign posts =  site.blog | sort:'date' | reverse %}
<section class="page-section">
	<div class="container overflow-hidden">
		{% for post in posts %}
		<article class="article-blog-preview">
			<div class="row g-5">
				<div class="col-lg-4">
				<a href="{{ post.url }}">
					<img class="article-image" src="{{ post.header }}" style="width:100%;object-fit:cover;border-radius:4px;">
				</a>
				</div>
				<div class="col-lg-8">
					<div class="blog-card">
						<a href="{{ post.url }}">
							<h2 class="article-header">{{ post.title }}</h2>
							<p class="article-body">
								{{ post.content | strip_html | truncate: 350 }}
							</p>
						</a>
						<div class="read-more">
							<a href="{{ post.url }}" class="btn bg-space-yellow">
								Lees artikel
							</a>
						</div>
					</div>
				</div>
			</div>
		</article>
		{% endfor %}
	</div>
</section>
