---
layout: page
title: Doneren
permalink: /doneren
navbar: 5
redirect_from: /en/doneren/
---
<section id="about-us">
    <div class="">
        <center><h1 style="margin-top:0">Steun onze space!</h1></center>
        <center><h4>Wilt u de space een handje helpen? Met uw donatie kunnen wij investeren in onze community, sparen voor nieuwe tools en machines en hopelijk op termijn een eigen locatie.</h4></center>
    </div>
    <div class="page-section row">
        <center>
            <div class="col-lg-6 col-md-12">
                <img src="/uploads/qr.png" style="width:30%;border-radius:4px;margin-top:1.5rem;">
            </div>
            <div class="col-lg-6 col-md-12">
                <p>Of betaal via <a href="https://payment-links.mollie.com/payment/HrLK2UMWjhA2oK6FFViDM">deze link</a></p>
            </div>
        <center>
    </div>
</section>