---
layout: page
title: "Home"
html_title: "Makerspace en hackerspace Leiden"
permalink: /
navbar: 1
lead: "Makerspace en hackerspace in Leiden."
html: true
redirect_from: /en/
---

<section id="announcements" class="page-section">
	<div class="container overflow-hidden">
		<div class="row g-5">
			<div class="col-lg-6 col-md-12">
				<div class="page-banner page-banner-default">
					<span class="banner-message">
						<p><center>Bezig met Space status laden...</center></p>
					</span>
				</div>
				<div class="page-banner page-banner-success" style="display: none;">
					<i class="bi bi-door-open" style="font-size:100px; float:left; margin-top:-22px;"></i>
					<span class="banner-message"></span>
				</div>
				<div class="page-banner page-banner-warning"  style="display: none;">
					<i class="bi bi-door-closed" style="font-size:100px; float:left; margin-top:-22px;"></i>
					<span class="banner-message"></span>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="page-banner page-banner-discord">
					<a href="{{ site.socials.discord }}">
						<i class="bi bi-discord" style="font-size:100px; float:left; margin-top:-22px;"></i>
					</a>
					<strong>Online zijn we altijd open!</strong> &mdash;
					Kom gezellig mee chatten of praten met je webcam
					en een pilsje <a href="{{ site.socials.discord }}">op Discord</a>.
					Voor de IRC fans hebben we <a href="irc://irc.libera.chat/#spaceleiden">#spaceleiden</a>
					gelinkt met onze Discord kanalen.
				</div>
			</div>
		</div>
	</div>
</section>

<section id="introduction" class="page-section">
	<div class="container overflow-hidden">
		<div class="row g-5">
			<div class="col-lg-6 col-md-12">
				<h1>Wat is een makerspace of hackerspace?</h1>
				<p>
					Zowel makerspace als hackerspace zijn werkplaatsen die ruimte bieden voor
					mensen die geïnteresseerd zijn om samen te komen; te maken, te hacken, te
					innoveren, te inspireren, om kennis te delen en van elkaar te leren.
				</p>
				<p>
					Een makerspace draait om het kunnen maken van verschillende producten,
					zoals een eigen designlamp, werken aan elektronica of 3D printen. Er is
					toegang tot verschillende gereedschappen en men deelt kennis met elkaar.
				</p>
				<p>
					In het geval van een hackerspace hoeft dit niet zozeer te gaan om het
					maken van iets fysieks, maar kan dit bijvoorbeeld gaan om het maken van
					programma's, knutselen met verschillende technologieën of het zoeken
					van "mogelijkheden" met bestaande toepassingen.
				</p>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="row g-5">
					<div class="col-lg-6 col-md-12"><img src="/assets/img/solderen.jpg"></div>
					<div class="col-lg-6 col-md-12"><img src="/assets/img/groepje.jpg"></div>
					<div class="col-lg-6 col-md-12"><img src="/assets/img/dingetje.jpg"></div>
					<div class="col-lg-6 col-md-12"><img src="/assets/img/solderen_2.jpg"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="calendar-news" class="page-section">
	<div class="container overflow-hidden">
		<div class="row g-5">
			<div class="col-lg-6 col-md-12">
				<div id="calendar"></div>
			</div>
			<div id="news" class="col-lg-6 col-md-12">
				<h2>Recente posts en projecten</h2>
				{% assign posts =  site.blog | sort:'date' | reverse %}
				{% assign projects =  site.projects | sort:'date' | reverse %}
				{% for post in posts limit:3 %}
				<article class="index-article-preview">
					<a href="{{ post.url }}">
						<h3>{{ post.title }}</h3>
						<p>{{ post.excerpt | strip_html | truncate: 200 }}</p>
					</a>
				</article>
				{% endfor %}
				{% for project in projects limit:0 %}
				<article class="index-article-preview">
					<a href="{{ project.url }}">
						<h3>{{ project.title }}</h3>
						<p>{{ project.excerpt | strip_html | truncate: 200 }}</p>
					</a>
				</article>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<section id="vision" class="page-section">
	<div class="container overflow-hidden">
		<div class="row g-5">
			<div class="col-lg-6 col-md-12">
				<h2>Onze visie</h2>
				<p>
					Onze visie is om een eigen draai te geven aan een hackerspace
					en makerspace in Leiden, door ons genoemd "Space Leiden".
				</p>
				<p>
					Space Leiden is een plek waar iedereen kan werken, vergaderen,
					maken, onderzoeken en gezellig kan zijn met mede geïnteresseerden.
					Het is een combinatie van een makerspace, hackerspace en bar.
				</p>
				<p>
					Met gereedschap, 3D printers, servers en honeypots voor mensen
					om te kunnen klooien en hacken.
					Apparatuur die te groot, te duur of te specialistisch is om
					thuis te hebben.
				</p>
				<p>
					Momenteel zijn wij gevestigd in het gebouw van
					<a href="https://technolableiden.nl">Stichting Technolab</a>
					en MBO Rijnland, vlak achter Station Lammenschans.
					Kom je ook een keer kijken op donderdagavond?
				</p>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="row g-5">
					<div class="col-lg-6 col-md-12"><img src="/assets/img/frees.jpg"></div>
					<div class="col-lg-6 col-md-12"><img src="/assets/img/klus.jpg"></div>
					<div class="col-lg-6 col-md-12"><img src="/assets/img/lasersnijder.jpg"></div>
					<div class="col-lg-6 col-md-12"><img src="/assets/img/workshop.jpg"></div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include map.html %}
