---
layout: page
title: Over ons
permalink: /over-ons
navbar: 4
# todo: add link to whitepaper, contact us, etc.
redirect_from: /en/over-ons/
---
<section id="about-us">
	<div class="">
		<center><h1 style="margin-top:0">Maak kennis met het team van Space Leiden!</h1></center>
	</div>
	<div class="page-section row">
		<div class="col-lg-6 col-md-12">
			<img src="/uploads/team_foto.jpg" style="width:100%;border-radius:4px;margin-top:1.5rem;">
			<small><i>
				v.l.n.r.: Jeffrey, Dion, Niels, Jelle,
				Sander (onder) v.l.n.r.: Jeanne, Raoul
			</i></small>
		</div>
		<div class="col-lg-6 col-md-12">
			<p>
				Wij zijn IT'ers en (oud)studenten Informatica van
				de Hogeschool Leiden. Wij misten in onze sleutelstad het
				gevoel van een Hackerspace.

				Een plek waar je kan werken aan eigen projecten maar ook van elkaar
				kan leren. Inmiddels is het merendeel van ons team afgestudeerd,
				werkzaam in de IT sector en heerst dit gevoel nogsteeds.

				Vandaar dat wij in 2020 besloten om in Leiden een Hackerspace op te
				richten.
			</p>
			<p>
				Een plek waar je kan werken aan je electronica projectje, je Blender design
				in 3D uit kan printen, je naam in hout lasersnijden,
				maar ook een plek waar jij kan werken aan je eigen software projectjes.
			</p>
			<p>
				Waar je samen met gelijkgestemden een game kan bouwen of waar je een van onze
				servers kan proberen te hacken. Een groep technisch onderlegde nerds, geeks
				of hoe je ons ook wilt noemen van alle leeftijden, genders en afkomst.
			</p>
			<p>
				Een plek waar het bevorderen van technische
				ontwikkeling van (jong)-volwassenen vooropstaat en waar we werken aan het
				ontwikkelen van de echte maker- en hackermentaliteit.
			</p>
		</div>
	</div>

	<div class="page-section row" style="padding-top:0">
		<div class="col-lg-6 col-md-12">
			<h2>Raoul</h2>
			<p>
				Raoul is onze voorzitter. Hij is leergierig en wil graag van alles
				weten over de laatste nieuwtjes die zich in de technische wereld afspelen.
				Iets met hardware? Hij weet er al vanaf. Zit je vast met je project,
				of zoek je een nieuwe tool of taal om mee verder te kunnen? Raoul
				weet veel, en kan je helpen nieuwe inspiratie te vinden.
			</p>
		</div>
		<div class="col-lg-6 col-md-12">
			<h2>Niels</h2>
			<p>
				Niels is onze secretaris en grote bebaarde man. Laat je niet afschrikken door zijn
				lengte, het is een knuffelbeer die altijd aanspreekbaar is voor een
				<del>goede</del> woordgrap.
				Hij weet alles over Linux, ethical hacking, malware, reverse engineering
				en beveiliging. 3D printen of 3D modellen maken daar weet hij ook wel
				wat vanaf mocht je vragen hebben kan je altijd bij hem terecht!
			</p>
		</div>
		<div class="col-lg-6 col-md-12">
			<h2>Jeffrey</h2>
			<p>
				Jeffrey is onze tweede secretaris en een creatieveling,
				die graag betrokken is bij anderen en
				altijd klaar staat voor een goed gesprek. Wil je iets weten over
				webdevelopment of sensoren? Als Jeffrey je
				vraag niet zelf kan beantwoorden, helpt hij je met zoeken, net zo
				lang tot jullie het allebei weten. Jeffrey is artistiek ingesteld en
				kan alles programmeren wat je hem aanlevert aan design. Wist je dat
				deze jongeman ooit zijn eigen javascript library heeft geschreven?
			</p>
		</div>
		<div class="col-lg-6 col-md-12">
			<h2>Jeanne</h2>
			<p>
				Jeanne is onze penningmeester en een gezellige jonge dame die altijd
				te porren is voor nieuwe projecten.
				Wil je iets doen met veel data? Wil je een dashboard voor
				je verscheidene projecten? Ze denkt graag met je mee! Ze weet veel
				over databases, opslag, analyse, machine learning, en visualisatie.
				Maar haar talenten liggen ook bij ontwerp en marketing, heb je iets
				moois gemaakt maar wil je graag een second opinion? Wil je iets doen
				met InDesign of Blender 3D maar geen idee waar je moet beginnen? Jeanne helpt je
				met plezier verder!
			</p>
		</div>
		<div class="col-lg-6 col-md-12">
			<h2>Jelle</h2>
			<p>
				Jelle zit altijd vol met enthousiasme en de meest wilde, creatieve
				ideeën. Heb je een idee voor iets en ben je op zoek naar de goede
				manier om dat uit te voeren? Of wil je op zoek naar mensen die met
				je mee willen doen? Pitch je idee bij Jelle en hij kan je helpen om
				de juiste mensen te vinden. Wie weet, misschien helpt hij je zelf
				wel mee.
			</p>
		</div>
		<div class="col-lg-6 col-md-12">
			<h2>Dion</h2>
			<p>
				Dion herken je aan de vrolijke t-shirts. Hij
				is onze vice-voorzitter en weet alles over electronica, hardware,
				usability en design. Dion kent elk apparaat en elke sensor en zit vol
				creatieve ideeën hoe je ze kan gebruiken. Dion is altijd te porren voor
				een spelletje, zijn visie op de nieuwste technieken en hij kan je dan
				ook altijd wijzen op nieuwe vette dingen om mee te experimenteren.
			</p>
		</div>
		<div class="col-lg-6 col-md-12">
			<h2>Sander</h2>
			<p>
				Sander is onze tweede penningmeester en ook de jongste van de groep.
				Hij ziet zichzelf graag als ethisch hacker, iemand die ethiek,
				beveiliging en privacy hoog in het vaandel heeft.
				Graag doet hij dingen volgens de regeltjes al kan hij in zijn
				enthousiasme nog wel eens losgaan. In zijn vrije tijd kijkt hij graag
				naar de verschillende mogelijkheden om de beveiliging van eigen
				projecten te verbeteren of om de beveiliging van andere partijen te
				testen. Sander weet enorm veel van netwerk, host en software security,
				linux, devops, en verschillende forensische tools en technieken.
			</p>
		</div>
	</div>
</section>

<div class="">
	<center><h1 style="margin-bottom:15px">Neem contact met ons op</h1></center>
</div>
{% include contact.html %}

<section id="about-the-location">
	<div class="">
		<center><h1 style="margin-top:0">Over onze locatie Technolab</h1></center>
	</div>
	<div class="page-section row">
		<div class="col-lg-6 col-md-12">
			<img src="/uploads/technolab_banner.jpeg" style="width:100%;border-radius:4px;margin-top:1.5rem;">
		</div>
		<div class="col-lg-6 col-md-12">
			<p>
				Er werken en leren bij Technolab zo’n 100 mensen: stagiairs, vrijwilligers en freelancers.
				Ruim 20.000 leerlingen, meer dan 50 scholen en circa 100 bedrijven en organisaties doen elk jaar mee aan de
				workshops en projecten van Technolab. Iedereen maakt zich nieuwe kennis en vaardigheden eigen, door direct aan de slag te gaan.
				Samen leren doen, dus!
			</p>
			<p>
				Door lesprogramma’s en projecten te organiseren inspireert Technolab leerlingen van het basis en voorgezet
				onderwijs op het gebied van natuur & techniek & wetenschap & duurzaamheid.
				Technolab Leiden bied leerwerkplekken aan studenten van het MBO en HBO.
			</p>
			<p>
				Meer informatie over wat Technolab precies doet of hoe je met ze in contact kunt komen?
				Neem een kijkje op hun website!
			</p>
			<a href="https://www.technolableiden.nl">Meer informatie over Technolab Leiden</a>
		</div>
	</div>
</section>

