---
layout: page
title: Projecten
# navbar: 4
redirect_from:
    - /projecten
    - /en/projecten
redirect_to: /blog
html: true
---
{% assign projects =  site.projects | sort:'date' | reverse %}
<section class="page-section">
	<div class="container overflow-hidden">
		{% for project in projects %}
		<article class="article-blog-preview article-project-preview">
			<div class="row g-5">
				<div class="col-lg-4">
				<a href="{{ project.url }}">
					<img class="article-image shadow-sm" src="{{ project.header }}"
					     style="width:100%;object-fit:cover;border-radius:4px;">
				</a>
				</div>
				<div class="col-lg-8">
					<div class="blog-card">
						<a href="{{ project.url }}">
							<h2 class="article-header">{{ project.title }}</h2>
							<p class="article-body">
								{{ project.content | strip_html | truncate: 350 }}
							</p>
						</a>
						<div class="read-more">
							<a href="{{ project.url }}" class="btn bg-space-yellow">
								Bekijk project
							</a>
						</div>
					</div>
				</div>
			</div>
		</article>
		{% endfor %}
	</div>
</section>
