---
layout: page
title: Deelnemer Worden
permalink: /deelnemer-worden
redirect_from: /signup
navbar: 8
html: true
---
<section id="signup" class="page-section">
	<div class="container overflow-hidden pricing-header p-3 pb-md-4 mx-auto">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<p class="fs-5">
					Langs komen mag natuurlijk altijd. Als je regelmatig langs komt
					en gebruik maakt van de voorzieningen van Space Leiden vragen wij je
					deelnemer te worden.

					De Stichting zorgt voor toegang en onderhoud aan de ruimte en
					machines en investeert in nieuwe apparaten. De Stichting heeft
					dan ook niet het doel om winst te maken.
				</p>
				<p class="fs-5">
					Deelnemers kunnen in ruil voor een maandelijkse bijdrage
					onbeperkt gebruik maken van de voorzieningen van Space Leiden.

					Je kan ook kiezen voor een strippenkaart als je alleen sporadisch
				  langs komt om gebruik te maken van gereedschap en machines.
			  </p>
				<p class="fs-5">
					Zie voor meer informatie
					het <a href="/algemeen-reglement">Algemeen Reglement</a>,
					het <a href="/huishoudelijk-reglement">Huishoudelijk Reglement</a>,
					onze <a href="/privacy-policy">Privacy Policy</a> en
					de <a href="/statuten">Statuten</a> van de Stichting.
				</p>
			</div>
		</div>
	</div>
</section>
<section id="" class="page-section">
	<div class="container overflow-hidden">
		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
			<div class="col">
				<div class="card">
					<div class="card-header py-3">
						<h4 class="my-0 fw-normal">Kom langs om te kijken!</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">
							Gratis
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>4 bezoeken</li>
							<li>Toegang tot alle apparaten</li>
							<li>Toegang tot al het gereedschap</li>
						</ul>
						<a href="/#visit" class="w-100 btn btn-lg btn-outline-space-blue">Kom langs</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mb-4 rounded-3 shadow-sm border-space-blue">
					<div class="card-header py-3 text-white bg-space-blue">
						<h4 class="my-0 fw-normal">Deelnemer</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">
							&euro;5<small class="text-muted fw-light">/maand</small>
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>Onbeperkt bezoeken</li>
							<li>Toegang tot alle apparaten</li>
							<li>Toegang tot al het gereedschap</li>
							<li>Badge op Discord</li>
							<li>Toegang tot workshop archief</li>
							<li class="text-muted">Soon: Toegang tot reserveringssysteem</li>
							{% comment %}
							<li class="text-muted">
								Soon: Een
								<a href="https://www.ikea.com/nl/nl/cat/samla-serie-12553/">Samla</a>
								voor je eigen spullen
							</li>
							<li class="text-muted">Soon: Korting op consumpties</li>
							{% endcomment %}
						</ul>
						<a href="https://portal.spaceleiden.nl/signup" class="w-100 btn btn-lg bg-space-blue">Aanmelden</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="signup-img" class="page-section">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-3 col-md-6"><img src="/assets/img/frees.jpg"></div>
			<div class="col-lg-3 col-md-6"><img src="/assets/img/klus.jpg"></div>
			<div class="col-lg-3 col-md-6"><img src="/assets/img/lasersnijder.jpg"></div>
			<div class="col-lg-3 col-md-6"><img src="/assets/img/workshop.jpg"></div>
		</div>
	</div>
</section>
