---
layout: page
title: "Pagina niet gevonden"
---

<div class="row">
	<div class="col-lg-6">
		<p>
			<strong>404</strong> &mdash;
			Deze pagina bestaat niet (meer) op de website.
			Denk je dat er iets niet klopt?
			<a href="/contact">Stuur ons dan een mailtje</a>.
		</p>
	</div>
	<div class="col-lg-4 offset-lg-2" style="text-align:right;">
		<img src="/assets/img/404.gif" style="max-width:100%;max-height:250px;">
	</div>
</div>
