<script src="/assets/js/cookie-banner.js"></script>
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.apps.spaceleiden.nl/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript>
<img referrerpolicy="no-referrer-when-downgrade" src="https://analytics.apps.spaceleiden.nl/matomo.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript>
