<section id="contact" class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="table-responsive">
					<table class="table table-sm table-borderless">
						<tr>
							<td colspan="2"><strong>Stichting The Space Leiden</strong></td>
						</tr>
						<tr>
							<td>E-mail</td>
							<td><a href="mailto:bestuur@spaceleiden.nl">bestuur@spaceleiden.nl</a></td>
						</tr>
						<tr>
							<td>Telefoon</td>
							<td><a href="tel:+31715690356">+31 (0)71 56 903 56</a></td>
						</tr>
						<tr>
							<td>KVK</td>
							<td>81080328</td>
						</tr>
						<tr>
							<td>RSIN</td>
							<td>861919737</td>
						</tr>
						<!--//<tr>
							<td>IBAN</td>
							<td></td>
						</tr>//-->
						<tr>
							<td>Bezoekadres</td>
							<td>Bètaplein 28<br>2321KS Leiden</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="table-responsive">
					<table class="table table-sm table-borderless">
						<tr>
							<td colspan="2"><strong>Social media</strong></td>
						</tr>
						{% assign ignored_socials = "discord,reddit,twitch,chat-right-dots,rss-fill" | split: "," %}
						{% for social in site.socials %}
						{% if ignored_socials contains social[0] %}
							{% continue %}
						{% endif %}
						<tr>
							<td>{{ social[0] | capitalize }}</td>
							<td><a href="{{ social[1] }}">{{ social[1] | replace: "https://", "" }}</a></td>
						</tr>
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</section>