{% if page.url != '/contact' %}
<div class="spacer"></div>
{% endif %}
<section id="footer" class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-12">
				<h2 class="d-flex align-items-center">
					<img src="/assets/img/logo.png">
					<span class="brand">Stichting The Space Leiden</span>
				</h2>
				<ul class="socials">
					{% for social in site.socials %}
					<li><a href="{{ social[1] }}"><i class="bi bi-{{ social[0] }}"></i></a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-lg-3 col-md-12">
				<div class="contact">
					<h3>Contact</h3>
					<p>
						Bètaplein 28<br>
						2321 KS Leiden<br>
						<a href="mailto:info@spaceleiden.nl">info@spaceleiden.nl</a>
					</p>
					<p>
						KVK	81080328<br>
						RSIN 861919737
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-12">
				<h3>Juridisch</h3>
				<ul>
					<li><a href="/statuten">Statuten</a></li>
					<li><a href="/algemeen-reglement">Algemeen Reglement</a></li>
					<li><a href="/huishoudelijk-reglement">Huishoudelijk Reglement</a></li>
					<li><a href="/privacy-policy">Privacy Policy</a></li>
					<li><a href="/responsible-disclosure">Responsible Disclosure</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-12">
				<h3>Over ons</h3>
				<ul>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/over-ons">Ons Team</a></li>
					<li><a href="/whitepaper">Whitepaper</a></li>
					<li><a href="/verklaring-anbi">Verklaring ANBI</a></li>
					<li><a href="https://www.technolableiden.nl/">Stichting Technolab Leiden</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
