{% if page.url != '/' %}
	{% assign header_small = 'header-condensed' %}
{% endif %}
<header class="page-header {{ header_small }}" style="background-image: url('{{ page.header | default: site.defaults.page_header }}');">
	<div class="header-content container">
		{% if page.url == '/' %}
		<div class="header-actueel-index d-flex flex-wrap flex-md-nowrap justify-content-md-between">
			<div class="header-actueel-title">
				<h1>{{ page.lead | default: page.title }}</h1>
			</div>
			<div class="header-actueel-content">
				<!-- <div class="page-header-actueel">
					<h2>Actueel</h2>
					<div class="d-grid gap-2">
						<a href="{{ site.forms.signup-corona }}" class="btn bg-space-blue">
							<i class="bi bi-person-plus-fill"></i>&nbsp;Inschrijven donderdag
						</a>
						<a href="/covid-19" class="btn btn-warning">
							<i class="bi bi-exclamation-octagon"></i>&nbsp;Maatregelen COVID-19
						</a>
					</div>
				</div> -->
			</div>
		</div>
		{% else %}
		<h1>{{ page.lead | default: page.title }}</h1>
		{% endif %}
		{% if page.layout == 'blog' %}
		<div class="header-blog-metadata">
			{% include locale.html %}
			Gepubliceerd door <author>{{ page.author }}</author> op
			<time>{{ page_date }}</time>
		</div>
		{% endif %}
	</div>
	<div class="overlay"></div>
</header>
