
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.html_title | default: page.title }} - {{ site.title }}</title>

	<link rel="canonical" href="https://{{ site.domain }}{{ page.url }}">
	<link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}">

	<meta property="og:locale" content="{{ site.locale }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ page.title }} - {{ site.title }}">
	<meta property="og:url" content="https://{{ site.domain }}{{ page.url }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:image" content="{{ page.header | default: site.defaults.page_header }}">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ page.title }} - {{ site.title }}">
	<meta name="twitter:site" content="@spaceleiden">
	<meta name="twitter:creator" content="@spaceleiden">
	<meta name="twitter:image" content="https://{{ site.domain }}{{ page.header | default: site.defaults.page_header }}">

	{% if page.layout == 'blog' or page.layout == 'project' %}
	<meta name="description" content="{{ page.content | strip_html | truncate: 200 }}">
	<meta property="og:description" content="{{ page.content | strip_html | strip | truncate: 200 }}">
	<meta name="twitter:description" content="{{ page.content | strip_html | strip | truncate: 200 }}">
	{% else %}
	<meta name="description" content="{{ page.lead | default: site.description }}">
	<meta property="og:description" content="{{ page.lead | default: site.description }}">
	<meta name="twitter:description" content="{{ page.lead | default: site.description }}">
	{% endif %}

	<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }}">

	<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Organization","url":"https:\/\/{{ site.domain }}\/","sameAs":["https:\/\/twitter.com\/{{ site.socials.twitter }}"],"@id":"#organization","name":"{{ site.title }}","logo":"https://{{ site.domain }}/assets/img/logo.png"}</script>

	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" as="style">
