<section id="visit" class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<h2>Langskomen?</h2>
				<p id="visit-us">
					Kom je ook een keer kijken? We zijn praktisch iedere donderdag
					avond open van 19:00 tot 22:00.	Onze locatie zit in de ruimte van Technolab Leiden boven de Plus (Bètaplein 28). Kom je met de auto? <a href="/parkeren" style="color: white;">Bekijk de parkeermogelijkheden</a>.
				</p>
				<p id="visit-online" style="display: none">
					Momenteel zijn we fysiek gesloten en kun je ons enkel online bezoeken.
					Normaliter zijn praktisch iedere donderdag avond open van 19:00 tot 22:00.
					Onze locatie zit in de ruimte van Technolab Leiden boven de Plus (Bètaplein 28).
				</p>
				<p>
					Kan je niet wachten tot de volgende donderdag? Kom dan even
					buurten in onze digitale Space op Discord!
				</p>
<!--				<a href="{{ site.forms.signup-corona }}" class="btn btn-warning">-->
<!--					<i class="bi bi-person-plus-fill"></i>&nbsp;Inschrijven-->
<!--				</a>-->
<!--				&nbsp;-->
				<a href="{{ site.socials.discord }}" class="btn btn-default btn-discord">
					<i class="bi bi-discord"></i>&nbsp;Join op Discord
				</a>
				&nbsp;
				<a href="https://duckduckgo.com/?q=hackerspace+leiden&ia=web&iaxm=maps" class="btn btn-light">
					<i class="bi bi-geo-alt-fill"></i>&nbsp;Bekijk op kaart
				</a>
			</div>
		</div>
	</div>
</section>
