{% assign pages = site.pages | sort:"navbar" %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="{{ "/assets/img/logo.png" | relative_url }}" class="d-inline-block align-text-middle">
      <span class="brand d-none d-lg-block">Stichting The Space Leiden</span>
    </a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
		data-bs-target="#navbar-content" aria-controls="navbar-content"
		aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
      	<ul class="navbar-nav">
		  {% for page_item in pages | sort:"navbar" %}
		  	{% unless page_item.navbar %}
		  		{% continue %}
		  	{% elsif (page_item.navbar == page.navbar) or (page.url contains page_item.url and page_item.url != "/") %}
		  		<li class="nav-item px-2">
		  			<a class="nav-link active" href="{{ page_item.url }}">
						{{ page_item.title }}
					</a>
		  		</li>
		  	{% else %}
		  		<li class="nav-item px-2">
					<a class="nav-link" href="{{ page_item.url }}">
						{{ page_item.title }}
					</a>
				</li>
		  	{% endunless %}
		  {% endfor %}
		</ul>
	</div>
  </div>
</nav>
