<script src="{{ "/assets/js/vendor/bootstrap.bundle.min.js" | relative_url }}" async></script>

{% if page.url == '/' or page.url == '/agenda' %}
<script src="{{ "/assets/js/vendor/fullcalendar.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/fullcalendar.locale.nl.js" | relative_url }}"></script>
{% endif %}

{% if page.url == '/' %}
<script src="{{ "/assets/js/page-index.js" | relative_url }}"></script>
{% elsif page.url == '/agenda' %}
<script src="{{ "/assets/js/page-agenda.js" | relative_url }}"></script>
{% endif %}

{% include analytics.html %}
