<!DOCTYPE html>
<html lang="nl">
  <head>
    {% include head.html %}
  </head>
  <body>
        {% include navbar.html %}

        {% include header.html %}

        <article class="container page-section article-blog">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    {{ content }}
                </div>
            </div>
        </article>

        <section id="comments">
            <div class="container page-section">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h2>Reacties <a href="#commento"></a></h2>
                        <script defer src="https://comments.apps.spaceleiden.nl/js/commento.js"></script>
                        <script>
                        window.commentoLabel = function(count) {
                            if(count === 0) {
                                return "";
                            } else if (count === 1) {
                                return "(1)";
                            } else {
                                return "(" + count + ")";
                            }
                        }
                        </script>
                        <script defer src="https://comments.apps.spaceleiden.nl/js/count.js" data-custom-text="window.commentoLabel"></script>
                        <div id="commento"></div>
                    </div>
                </div>
            </div>
        </section>

        {% include footer.html %}

        {% include scripts.html %}
  </body>
</html>
