<!DOCTYPE html>
<html lang="nl">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}

    {% include header.html %}

    {% if page.html != true %}
        <section class="page-section page-markdown">
            <div class="container">
                {{ content }}
            </div>
        </section>
    {% else %}
        {{ content }}
    {% endif %}


    {% include footer.html %}

    {% include scripts.html %}
  </body>
</html>
